
/*
    Normal Natice CSS
    inline CSS
    Component Libraries - Material UI, Base UI, Ant, Chakra
    Styled Component

Tailwind CSS framework
    CSS on go
    reusability
    less bundle size
    flexible UI (Customizable)

*/


  /* Header CSS Start*/


.app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: var(--header-bg-color);
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    font-weight: bold;
    position: inherit;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: hidden;
}


.logo{
    width: 100px;
    padding: 10px 0 10px 15px;
}

  /* nav-items CSS Start*/


.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
    align-items: center;
    justify-content: space-between;
}

.nav-items > ul > li {
    padding: 10px;
    
    
}

.nav-items > ul > li :hover{
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--orange);
}

/* nav items CSS End*/

/* Header CSS End*/



/* search container CSS Start*/


.search-container{
    margin: 20px auto;
    text-align: center;
    max-width: 100%;
    position: relative;
}

.search-container .search-input{
    width: 40%;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 15px 14px 20px;
    border: 1px solid #aabcca;
    border-right:0 ;
    color: var(--text-color);
    outline: none;
}


.search-container .search-btn{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 22px;
    margin-left: -4px;
    color: #ffffff;
    background-color: var(--dark-orange);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
    border: none;
    outline: none;
}

.search-container .search-btn:hover{
    background-color: var(--dark-green);
}

/* search container CSS End*/


/* Restaurant cards CSS Start*/
.restaurant-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.restaurant-card{
    width: 240px;
    border-radius: 5px;
    box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
    
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.restaurant-card:hover{
    transform: scale(1.03);
}

.restaurant-card > img{
    width: 100%;
    border-radius: 10px;
}

.restaurant-card > h5{
    font-weight: lighter;
}

.restaurant-card > span{
   display: flex;
   justify-content: space-evenly; 
   margin-top: 8px;
   text-align: center;
}
.restaurant-card > span > h4{
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
    padding: 0 2px 0;
    margin-top: 10px;
}
.restaurant-card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color:  var(--light-green);
    border-radius: 5px;
    padding:  5px ;
    margin-top: 5px;
    color: white;
}

.card > span > h4:first-child .fa-star{
    font-size: small;
    padding: 2px 5px 3px 0;
}

.app-footer{
    margin: 10px;
    width: auto;
    text-align: center;
    background-color: rgb(1, 163, 144);
    padding: 20px 10px 20px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}
