#container{
    background-color: aqua;
}

.logo{
    width: 100px;
    padding-left: 10px;
}

.app-header{
    display: flex;
    justify-content: space-between;
}

.nav-items{
  padding: 0 10px 0;  
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 40px 10px 0 0;
    font-size: large;
    cursor: pointer;
}